<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>

      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>


    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to image_tag(@user.get_profile_image(50,50)), user_path(@user) %>
            <br><%= link_to @user.name, user_path(@user) %></td>
            <td><%= link_to @Book.title, book_path(@user.books) %></td>
            <td><%= @Book.body %></td>
         　  <% if @Book.favorited_by?(user_id: current_user.id) %>
　　　　    <td><%= link_to book_favorites_path(@Book), method: :delete do %>♥<%= @Book.favorites.count %>
　　　　　  <% end %></td>
　　　　    <% else %>
　　　　    <td><%= link_to book_favorites_path(@Book), method: :post do %>♡<%= @Book.favorites.count %>
            <% end %></td>
            <% end %>
            <% if @user== current_user %>
            <td><%= link_to "Edit", edit_book_path(@Book.id), class: "btn btn-sm btn-success" %></td>
            <% end %>
            <% if @user== current_user %>
            <td><%= link_to 'Destroy', book_path(@Book.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
            <td>コメント件数：<%= @Book.book_comments.count %></td>
        </tr>
      </table>
      
      <div>
      <table class='table'>
        <thead>
         <tr>
          <th></th>
         </thead>
         <tbody>
         <% @Book.book_comments.each do |book_comment| %>
          <tr>
           <td><%= image_tag book_comment.user.get_profile_image(30,30) %></td>
           <td><%= book_comment.user.name %></td>
           <td><%= book_comment.comment %></td>
           <% if book_comment.user == current_user %>
           <td><%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %></td>
          <% end %>
          </tr>
        <% end %>
        </tbody>
       </table>
    </div>
      <div>
      <td><%= form_with model: [@Book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %></td>
      <td><%= f.submit "送信する" %><% end %></td>
      </div>
  </div>
 </div>
</div>

        <%#= book_comment.created_at.strftime('%Y/%m/%d') %>
        <%# if book_comment.user == current_user %>
        <%#= link_to "削除", book_book_comment_path(book_comment.book book_comment), method: :delete %>